.collapse a {
  font-size: 30px;
  margin-right: 30px;
}

html,
body {
  height: 100%;
  width: 100%;
}
.navbar {
  padding: 0.8rem;
}
.navbar-nav li{
  padding-right: 30px;
}

#nagl {
  padding: 30px;
}

#slogan {
  font-size: 1.5em;
}

.bi-code-slash {
  color: #e54d26;
}

.bi-gear {
  color: #563d7c;
}

.bi-brush {
  color: #2163af;
}

.bg-light .col-md-12 h1,
p {
  padding: 0.2em;
  height: 100px;
}

.nav-item button{
  margin-top: 7px;
}
input{
  margin-top: 10px;
}
#but1{
  margin-top: 20px;
}